@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
  color: black;
}

/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  background: transparent; /* Make scrollbar track transparent */
}

/* Hide the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: transparent; /* Make scrollbar thumb transparent */
}

/* Optional: Hide scrollbar on hover */
:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Show a faint thumb on hover */
}


html, body {
  overflow-x: hidden;
  max-width: 100vw;
}
* {
  box-sizing: border-box;
}
